In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('rest_test.db')

In [3]:
c = conn.cursor()

In [49]:
# Create table
c.execute('''CREATE TABLE assign_brand_to_merchant(\
   assign_id INTEGER PRIMARY KEY AUTOINCREMENT,\
   brand_id         INT    NOT NULL,\
   merchant_id         INT    NOT NULL,\
   FOREIGN KEY (brand_id) REFERENCES brand(brand_id),\
   FOREIGN KEY (merchant_id) REFERENCES merchant(merchant_id)\
);''')

In [38]:
c.execute('SELECT * FROM merchant')
for row in c.fetchall():
    print(row)

(1, 'datta', None, None, 'datta@gmail.com', '12345', None)
(2, 'martins', None, None, 'martins@gmail.com', '12345', None)
(3, 'popayes', None, None, 'popayes@gmail.com', '12345', None)
(4, 'borkar', None, None, 'borkar@gmail.com', '12345', None)
(5, 'sawant', None, None, 'sawant@gmail.com', '12345', None)
(6, 'vincent', None, None, 'vincent@gmail.com', '12345', None)
(7, 'kadar', None, None, 'kadar@gmail.com', '12345', None)
(8, 'oddel', None, None, 'oddel@gmail.com', '12345', None)
(9, 'rama', None, None, 'rama@gmail.com', '12345', None)
(10, 'ulhas', None, None, 'ulhas@gmail.com', '12345', None)
(11, 'gopal', None, None, 'gopal@gmail.com', '12345', None)
(12, 'dessi', None, None, 'dessi@gmail.com', '12345', None)
(13, 'dhoni', None, None, 'dhoni@gmail.com', '12345', None)
(14, 'ambani', None, None, 'ambani@gmail.com', '12345', None)

In [50]:
c.execute('SELECT * FROM brand')
for row in c.fetchall():
    print(row)

(1, 'Kadar Super Store', 10)
(2, 'Borkar Super Store', 10)
(3, 'Oddel Super Store', 10)
(4, 'Popayes Fast Food', 4)
(5, 'Martins Corner', 4)
(6, 'Ullhas Food', 4)
(7, 'Gopal Food', 4)
(8, 'Rama Food', 4)
(9, 'Dessi Cuppa', 4)
(10, 'Jio Mobile Store', 5)
(11, 'Dhoni Motors', 9)

In [51]:
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (1,7)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (2,4)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (3,8)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (4,3)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (5,2)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (6,10)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (7,11)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (8,9)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (9,12)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (10,14)");
c.execute("INSERT INTO assign_brand_to_merchant (brand_id,merchant_id) VALUES (11,13)");

In [46]:
c.execute("INSERT INTO brand_category (brand_category_name) VALUES ('Super Store')");

In [24]:
# Create table
c.execute("select name from sqlite_master where type = 'table'")

In [25]:
c.fetchall()

[('sqlite_sequence',), ('authtoken',), ('user',), ('merchant',)]

In [44]:
c.execute("DELETE FROM brand_category WHERE brand_category_id = 3")

In [10]:
c.execute("INSERT INTO user (NAME,password,modified,created) VALUES ('sawant','12345','2006-01-05','2006-01-05')")
# Save (commit) the changes
conn.commit()

In [30]:
c.execute('SELECT * FROM merchant')
print(c.fetchall())

[(1, 'datta', None, None, 'datta@gmail.com', '12345', None), (2, 'martins', None, None, 'martins@gmail.com', '12345', None), (3, 'popayes', None, None, 'popayes@gmail.com', '12345', None), (4, 'borkar', None, None, 'borkar@gmail.com', '12345', None), (5, 'sawant', None, None, 'sawant@gmail.com', '12345', None), (6, 'vincent', None, None, 'vincent@gmail.com', '12345', None), (7, 'kadar', None, None, 'kadar@gmail.com', '12345', None), (8, 'oddel', None, None, 'oddel@gmail.com', '12345', None), (9, 'rama', None, None, 'rama@gmail.com', '12345', None), (10, 'ulhas', None, None, 'ulhas@gmail.com', '12345', None), (11, 'gopal', None, None, 'gopal@gmail.com', '12345', None), (12, 'dessi', None, None, 'dessi@gmail.com', '12345', None), (13, 'dhoni', None, None, 'dhoni@gmail.com', '12345', None), (14, 'ambani', None, None, 'ambani@gmail.com', '12345', None)]

In [21]:
# Create table
c.execute('''CREATE TABLE authtoken\
             (id INTEGER PRIMARY KEY AUTOINCREMENT, \
              userid INTEGER,\
              token VARCHAR(1000)  NOT NULL, \
              created TEXT  NOT NULL, \
              FOREIGN KEY (userid) REFERENCES user(id)
              )''')

In [1]:
import jwt

In [7]:
def createToken(user_id,key):
    data = {'user_id': user_id,'date_created': '2006-01-05','expiry': '2006-01-05'}
    encoded = jwt.encode(data, key, algorithm='HS256')
    return encoded

In [22]:
user_id = 1
key='secret'
token = createToken(user_id,key)

In [24]:
token = token.decode("utf-8")

In [26]:
token

'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJkYXRlX2NyZWF0ZWQiOiIyMDA2LTAxLTA1IiwiZXhwaXJ5IjoiMjAwNi0wMS0wNSJ9.01pre7r1-vI64Q4Vk3y37dg-y7zMoZmGQbOrTrP5Sds'

In [28]:
c.execute("""INSERT INTO authtoken (userid,token,created) 
               VALUES (?,?,?);""", (str(user_id), token, '2006-01-05'))

In [25]:
c.execute("INSERT INTO authtoken (userid,token,created) VALUES ("+str(user_id)+","+token+",'2006-01-05')")
conn.commit()

OperationalError: unrecognized token: ".01pre7r1"

In [3]:
createToken(1,'secret')

b'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJkYXRlX2NyZWF0ZWQiOiIyMDA2LTAxLTA1IiwiZXhwaXJ5IjoiMjAwNi0wMS0wNSJ9.01pre7r1-vI64Q4Vk3y37dg-y7zMoZmGQbOrTrP5Sds'

In [ ]:
VARCHAR(255)

In [20]:
c.execute("drop table authtoken")

In [24]:
username = 'pramit'
password = '12345'
sql = "SELECT * FROM user where name='"+username+"' and password = '"+password+"'"
sql
c.execute(sql)
user = c.fetchall()

In [26]:
len(user)

1

In [59]:
from collections import defaultdict

In [60]:
data = defaultdict(list)

In [61]:
with open('text.txt') as f:
    for line in f.readlines():
        try:
            element,tags = line.rstrip().split('/', 1)
            print(element)
            for tag in tags:
                data[tag].append(element)
                data[None].append(element)
        except ValueError:
            pass

girl
home
house
man
wind

In [62]:
data

defaultdict(list,
            {'S': ['girl', 'house', 'wind'],
             None: ['girl',
              'girl',
              'house',
              'house',
              'house',
              'house',
              'house',
              'man',
              'wind',
              'wind'],
             'E': ['girl', 'house', 'man', 'wind'],
             '1': ['house'],
             '2': ['house'],
             '3': ['house']})

In [71]:
def parse(data,tag):
    if(tag==None or tag==''):
        return set(data[None])
    elements = [set(data[tag_i]) for tag_i in tag]
    return set.intersection(*map(set, elements))

In [73]:
parse(data,None)

{'girl', 'house', 'man', 'wind'}

{'girl', 'house', 'man', 'wind'}

In [22]:
for item in 'ES':
    print(data[item])

['girl', 'house', 'man', 'wind']
['girl', 'house', 'wind']

In [ ]:
 h['SE']
['girl', 'house', 'wind']
>>> h['ES']
['girl', 'house', 'wind']
>>> h['1']
['house']
>>> h['']
['test', 'girl', 'home', 'house', 'man', 'wind']
>>> h['S3']
['house']
>>> h['S2']
['house']
>>> h['SE2']
['house']
>>> h[None]
['test', 'girl', 'home', 'house', 'man', 'wind']
>>> h['4']
[]

In [31]:
A = {2, 3, 5, 4}
B = {2, 3, 100}
C = {2, 3, 8, 9, 10}

print(C.intersection(A, B))

{2, 3}

In [32]:
q = [A,B,C]

In [33]:
print(set.intersection(*map(set, q)))

{2, 3}